                            <p>Firmado electrónicamente por:<br/>
                                {{infoObj.name}}<br/>
                                {{infoObj.tipodoc}}  {{infoObj.num_id|number_format(0, ',', '.')}}<br/>
                                {{infoObj.fecha_actual}}<br/>
                                _______________________________________________________________________<br/>
                                <b>Nombre:</b> {{infoObj.name}}<br/>
                                <b>Tipo Identificación:</b>	{{infoObj.tipodoc}}<br/>
                                <b>Número Identificación:</b> {{infoObj.num_id|number_format(0, ',', '.')}}
                            </p>    
                            <p>
                                <br/>
                                <hr/>
                                <br/>
                            </p>
                            <hr/>