        
            <div class="container-fluid header-dashboard">
                <div class="row mx-md-3 pt-md-4 pb-md-0 pb-3">
                    <div class="col-md-7 px-md-3 px-0">
                        <h2 class="text-left text1 hs" id="username" >Hola {{userObj.name}}</h2>
                    </div>
                    <div class="col-md-5">
                        <div class="row" id="selected">
                            <div class="col-12">
                                <h2 class="text-md-right text-center text-uppercase text1">Crédito Seleccionado</h2>
                            </div>
                            <div class="col-12 text-md-right text-center">
                                <span class="unidad mr-2">$</span><span class="num" id="monto-selected">{{valorseleccionado|number_format(0, ',', '.')}}</span>
                                <br/>
                                <span id="plazo-selected">Plazo: {{plazoseleccionado}} meses</span>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row mx-md-3">
                    <div class="col-12 px-md-3 px-0">
                        <ul class="nav nav-tabs" id="dashboardNav" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="seleccion-tab" data-toggle="tab" href="#seleccion" role="tab"
                                    aria-controls="seleccion" aria-selected="true">Selecciona tu Crédito</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="creditos-tab" href="/dashboard/miscreditos" >Mis Créditos</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="info-tab"  href="/dashboard/informacionpersonal" >Información Personal</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="tab-content" id="dashboardContent">
                <!--TAB1-->
                <div class="container tab-pane fade" id="seleccion" role="tabpanel" aria-labelledby="seleccion-tab">
                    <div class="row d-flex justify-content-center" id="instrucciones">
                        <div class="col-md-7 instruccion" data-step="paso3">
                            {{instruccionmsg}}
                        </div>
                    </div>
                    <div class="row d-flex justify-content-center mb-md-6 mb-4">
                        <div class="col-12 dash-pasos mx-0 px-md-0 px-2">
                            <div class="paso">
                                <div class="tit-paso">Registro</div>
                                <div class="estado-paso check" data-state="paso1"></div>
                            </div>
                            <div class="paso">
                                <div class="tit-paso">Selección<br />de Crédito</div>
                                <div class="estado-paso check" data-state="paso2"></div>
                            </div>
                            <div class="paso">
                                <div class="tit-paso">Contrato<br />Virtual</div>
                                <div class="estado-paso current" data-state="paso3"></div>
                            </div>
                            <div class="paso">
                                <div class="tit-paso">Desembolso</div>
                                <div class="estado-paso" data-state="paso4"></div>
                            </div>
                        </div>
                        <div class="col-12 mx-0 px-md-0 px-2">
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 33%" aria-valuenow="33" aria-valuemin="0"
                                    aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    
                    <!--PASO3-->
                    <div class="row row-paso justify-content-center" data-step="paso3">
                        <div class="col-md-8 mb-md-6 mb-4">
                            <div class="cont-pdf">
                                <center><img src="/themes/custom/linxe/images/loading.gif" width="50px" id="loading_image"></center>
                                <object data="{{urlpdf}}" onload="hideLoading()" type="application/pdf" id="contrato" style="overflow: auto; -webkit-overflow-scrolling: touch;" typemustmatch>
                                    <p>No tienes un complemento PDF, pero puedes <a href="{{urlpdf}}">descargar el archivo PDF.</a></p>
                                </object>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="row d-flex justify-content-center">
                                <div class="col-md-4 mb-md-0 mb-3">
                                    <a href="/dashboard/regresarseleccion" class="btnSec w-100" id="regresar">Regresar</a>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="btn2 w-100" id="confirmar-firma">He leído y firmo</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            