    
    <main class="pb-md-6 pb-4">
      <div class="main-wrap mt-md-6 mt-4">
        <div class="container">
              {{ page.messages }}
            <div class="row d-flex justify-content-center mb-7">
                <div class="col-12">
                  <h2 class="text4">{{ node.label }}</h2>
                </div>
                <div class="col-12">
                  {{ page.block_terminosycondiciones }}
                </div>
                <br>
                <div class="col-12">
                  {{ page.content }}
                </div>
                <div class="col-12">
                  {{ page.block_firmaterminosycondiciones }}
                </div>
            </div>
            
        </div>
          
      </div>
      
    </main>
