    <header class="fixed-top">
        <div class="topBar">
          {{ page.infoheader }}
        </div>
        <div class="menuBar">
              {{ page.logo }}
            <button type="button" class="btnMenu" data-toggle="collapse" data-target="#collapsenav"
                aria-expanded="false" aria-controls="collapsenav"><i class="fas fa-bars"></i></button>
            <nav id="collapsenav" class="collapse">
              {{ page.primary_menu }}
            </nav>
              {{ page.botoneslogin }}
        </div>
    </header>

    <main class="pb-md-6 pb-4">
      <div class="main-wrap mt-md-6 mt-4">
        <div class="container">
            {{ page.registerform_title }} 
        </div>

        <div class="container pb-md-7 pb-4">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 cont-form">
              {{ page.messages }}
              {{ page.content }}
            </div>
          </div>
        </div>

        
      </div>
    </main>

    <footer>
        <div class="cont-footer">
            {{ page.footer_menu }}

            {{ page.footer_contacto }}
        </div>

        <div class="redes">
            {{ page.footer_redes }}
        </div>

        <div class="copy-foot">
            {{ page.footer_copyright }}
        </div>
    </footer>
    <div id="loginformlayer" class="modal fade" role="dialog">
        {{ page.login_form }}
    </div>
    <div id="rememberformlayer" class="modal fade" role="dialog">
        {{ page.remember_form }}
    </div>
