    <header class="fixed-top">
        <div class="topBar">
          {{ page.infoheader }}
        </div>
        <div class="menuBar">
              {{ page.logo }}
            <button type="button" class="btnMenu" data-toggle="collapse" data-target="#collapsenav"
                aria-expanded="false" aria-controls="collapsenav"><i class="fas fa-bars"></i></button>
            <nav id="collapsenav" class="collapse">
              {{ page.primary_menu }}
            </nav>
              {{ page.botoneslogin }}
        </div>
    </header>

    <main class="pb-md-6 pb-4 class-como-funciona">
      <div class="main-wrap mt-md-6 mt-4">
          {{ page.messages }}
          <div class="container">
            <div class="row d-flex justify-content-center">
              <div class="col-12"><h2 class="text4">{{ page['#title'] }}</h2></div>
            </div>
          </div>
          <div class="container">
            <div class="row mb-6">
                <div class="col-12">
                    <ul class="nav nav-tabs" id="beneficiosTabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="personas-tab" data-toggle="tab" href="#personas" role="tab"
                            aria-controls="personas" aria-selected="true">Personas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="empresas-tab" data-toggle="tab" href="#empresas" role="tab"
                            aria-controls="empresas" aria-selected="false">Empresas</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row tab-content mx-md-0 mx-3" id="beneficiosContent">
                <div class="col-12 tab-pane fade" id="empresas" role="tabpanel" aria-labelledby="empresas-tab">
                    <div class="row ">
                      {{ page.comofunciona_empresas }}

                      <div id="carouselFuncionaEmpresas" class="col-12 carousel slide justify-content-center d-md-none d-flex" data-ride="carousel" >
                        {{ page.comofunciona_empresas_carousel }}
                        <a class="carousel-control-prev ml-3" href="#carouselFuncionaEmpresas" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next mr-3" href="#carouselFuncionaEmpresas" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div> 
                    </div>
                </div>
                <div class="col-12 tab-pane fade show active" id="personas" role="tabpanel" aria-labelledby="personas-tab">
                    <div class="row">
                      {{ page.content }}

                      <div id="carouselFunciona" class="col-12 carousel slide justify-content-center d-md-none d-flex" data-ride="carousel" >
                        {{ page.carousel_comofunciona }}
                        <a class="carousel-control-prev ml-3" href="#carouselFunciona" role="button" data-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"><i class="fas fa-chevron-left"></i></span>
                          <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next mr-3" href="#carouselFunciona" role="button" data-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"><i class="fas fa-chevron-right"></i></span>
                          <span class="sr-only">Next</span>
                        </a>
                      </div> 
                    </div>
                </div>
            </div>

          </div>
          <!-- Requisitos -->
            <div class="requisitos">
                <div class="cont-requisitos">
                    <div class="titulos">
                        {{ page.texto_requisitos }}
                    </div>
                    
                    <div class="carousel">
                        {{ page.seccion_requisitos }}
                    </div>
                </div>

                
                {{ page.mockup_requisitos }}
                
            </div>
          <!-- Requisitos fin -->
          
          <!-- banner uno -->
            <div class="banner-uno container-fluid" style="background: url({{ url_bannersecondary }}); background-size: cover; margin-bottom: 0px;">
                {{ page.banner_requisitos }}
            </div>
          <!-- banner uno fin -->
      </div>
    </main>

    <footer>
        <div class="cont-footer">
            {{ page.footer_menu }}

            {{ page.footer_contacto }}
        </div>

        <div class="redes">
            {{ page.footer_redes }}
        </div>

        <div class="copy-foot">
            {{ page.footer_copyright }}
        </div>
    </footer>

    
    <div id="loginformlayer" class="modal fade" role="dialog">
        {{ page.login_form }}
    </div>
    <div id="rememberformlayer" class="modal fade" role="dialog">
        {{ page.remember_form }}
    </div>
